body {
  background-color: #edbdc4;
  margin: 0%;
  padding: 0;
  font-family: Kalam;
  font-weight: 500;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-family: "Playwrite CZ";
  font-size: 43px;
  text-align: center;
  text-shadow: 1px 1px 5px rgb(152, 118, 118);
  margin: 1%;
}
@media only screen and (min-width: 992px) {
  .title {
    font-size: 65px;
    text-align: center;
    margin-bottom: 3%;
    text-shadow: 5px 5px 15px rgb(152, 118, 118);
    border-bottom: 1px dotted rgb(108, 86, 95);
  }
}

.pozvanka {
  display: flex;
}
.navigace {
  display: none;
}
@media only screen and (min-width: 992px){
.navigace {
  display: inline-block;
}
.menu {
  display: flex;
  flex-direction: column;

  width: 20vw;
  background-color: #edbdc4;
  margin: 2vw 1vw 5vw 5vw;
}
.menu li {
  list-style: none;
  font-family: "Playwrite CZ";
  color: black;
  padding: 1%;
  background-color: #edbdc4;
  border: 1px dotted rgb(108, 86, 95);
  box-shadow: 5px 5px 15px rgb(181, 144, 158);
  border-radius: 10px;
  text-shadow: 1px 1px 5px rgb(181, 144, 158);
  text-align: center;
  margin: 2% 1% 10% 4%;
}

.menu li a {
  text-decoration: none;
  font-size: 50px;
}
li:hover {
  background-color: #f0c9cf;
}
a:visited {
  color: black;
}

a:hover {
  color: rgb(161, 31, 217);
}}

img {
  width: 100vw;
  height: auto;
  margin: 0%;
}
@media only screen and (min-width: 992px) {
  img {
    overflow: hidden;
    flex-shrink: 0;
    flex: 2;
    height: max-content;
  }
}
.data {
  width: 100vw;
  font-size: 12px;
  margin: 1%;
  margin-bottom: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (min-width: 992px) {
  .data {
    width: 65vw;
    font-size: 16px;
  }
}
h3 {
  font-family: "Playwrite CZ";
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  border-top: 1px dotted black;
  display: inline-block;
  margin: 0% 5% 5% 10%;
}
@media only screen and (min-width: 992px) {
  h3 {
    font-size: 30px;
    text-align: center;
    margin: 0%;
    padding: 2%;
    margin-bottom: 10%;
  }
}
h4 {
  font-family: "Playwrite CZ";
  font-weight: 500;
  font-size: 17px;
  margin-top: 0%;
}
@media only screen and (min-width: 992px) {
  h4 {
    font-size: 23px;
  }
}
.proc {
  margin: 5%;
  font-family: Kalam;
  font-style: italic;
  font-weight: 600;
}

.kdy,
.kde,
.proc,
.jak {
  background-color: #f0c9cf;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(181, 144, 158);
  margin: 5%;
  padding: 3%;
}
@media only screen and (min-width: 992px) {
  .kdy,
  .kde,
  .proc,
  .jak {
    font-size: 24px;
  }
}
.map {
  width: 60vw;
  height: auto;
}
@media only screen and (min-width: 992px) {
  .map {
    width: 50vw;
  }
}
.krabs {
  width: 50vw;
  position: relative;
  left: 5%;
}
@media only screen and (min-width: 992px) {
  .krabs {
    width: 20vw;
  }
}
