body {
  background-color: #edbdc4;
  margin: 0%;
  font-family: Kalam;
  font-weight: 500;
  font-size: 19px;
  display: flex;
  flex-direction: column;
}
.title {
  font-family: "Playwrite CZ";
  font-size: 43px;
  text-align: center;
  text-shadow: 1px 1px 5px rgb(152, 118, 118);
}
@media only screen and (min-width: 992px) {
  .title {
    font-size: 48px;
    text-align: start;
    margin-left: 5%;
    text-shadow: 5px 5px 15px rgb(152, 118, 118);
  }
}

img {
  width: 100vw;
  height: auto;
  margin: 0%;
  margin-right: 10%;
}
@media only screen and (min-width: 992px) {
  img {
    width: 70vw;
  }
}
.data {
  font-size: 12px;
  display: inline-block;
  display: flex;
  flex-direction: row;
}

h3 {
  font-family: "Playwrite CZ";
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  border-top: 1px dotted black;
  display: inline-block;
  margin: 0% 5% 5% 10%;
}
@media only screen and (min-width: 992px) {
  h3 {
    font-size: 30px;
    text-align: start;
    margin: 0%;
    padding: 2%;
    margin-bottom: 10%;
  }
}
h4 {
  font-family: "Playwrite CZ";
  font-weight: 500;
  font-size: 17px;
  margin-top: 0%;
}
@media only screen and (min-width: 992px) {
  h4 {
    font-size: 23px;
  }
}
.proc {
  margin: 5%;
  font-family: Kalam;
  font-style: italic;
  font-weight: 600;
}

.kdy,
.kde,
.proc,
.jak {
  background-color: #f0c9cf;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(152, 118, 118);
  margin: 5%;
  padding: 3%;
}
@media only screen and (min-width: 992px) {
  .kdy,
  .kde,
  .proc,
  .jak {
    font-size: 24px;
  }
}
.map {
  width: 60vw;
  height: auto;
}
@media only screen and (min-width: 992px) {
  .map {
    width: 50vw;
  }
}
.krabs {
  width: 50vw;
  position: relative;
  left: 5%;
}
@media only screen and (min-width: 992px) {
  .krabs {
    width: 20vw;
  }
}
